/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
  background color: Blue;

}
button{
  color: #082845;
  background-color: #EFEFEF;
  border-style: dotted;
}
